<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="page">
    <div class="page__container">
      <header class="header">
        <img src="/static/images/logo.png" alt="Логотип" class="header__logo" />
        <p class="logo-text">Let your dreams go beyond the limits</p>
      </header>

      <div class="content">
        <section class="nav-bar">
          {% for b in menu %}
          <a href="{{b.link}}" class="nav-link">{{b.name}}</a>
          {% endfor %}
        </section>
      </div>

      <div id="main">{% block main %} {% endblock%}</div>
      <footer class="footer">
        <p class="footer__copyright">
          &copy;&nbsp;Курманаева&nbsp;З.&nbsp;2023
        </p>
      </footer>
    </div>
  </body>
</html>
