{% extends 'base.html' %} {% block title %} О компании {% endblock %} {% block
main %}
<section class="info-page">
  <h1 class="header__text info-header">space travel</h1>
  <p class="common-text">
    Наша компания имеет большой опыт путешествий в самые разнообразные уголки
    Галактики
  </p>
  <img src="/static/images/ship/ship.jpg" alt="ship" class="info-image" />
  <p class="common-text">
    Путешествие к планете Вашей мечты будет проходить в современном корабле с
    комфортабельными каютами
  </p>
  <img
    src="/static/images/ship/ship-room.jpg"
    alt="ship-room"
    class="info-image"
  />
  <p class="common-text">и незабываемыми видами из окна</p>
  <img
    src="/static/images/ship/ship-wind.jpg"
    alt="ship-windows"
    class="info-image"
  />
</section>
{% endblock %}
